body {
    background: #144503;
    padding: 0px;
    margin: 0px;
}

#demoCanvas {
    margin: 40px auto 0px auto;
    padding: 0px auto;
    background: #1F2921;
}

/* .newsticker	 {
	text-align: center;
	font-size:20px;
	color: #FFFFFF;
    background-color: #006666;
	padding:1px 8px;
	width: 100%;
	margin-top: 3px;
}


.navbar	 {
	text-align: center;
	font-size:20px;
	color: #FFFFFF;
    background-color: #006666;
	padding:1px 8px;
	width: 100%
}


ul {
    list-style-type: none;
    margin: 20px;
    padding: 1px;
    overflow: hidden
}

li {
    float: left;
    width: 200px;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #006666;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase
}

a:hover, a:active {
    background-color: #F88000;
}

*/
